       
        
        .parent-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            align-items: center;
            justify-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            
        }
        .child-container {
            background-color: #f7fb3a;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
           
        }
       
          
        .child-container:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: translate(0px, -5px);
            transition: 0.3s ease-in-out ;
        }
        .child-container h2 {
            margin-bottom: 15px;
        }
        .child-container p {
            margin: 5px 0;
        }
        img{
            height: 20vh;
        }

       @media (max-width: 1364px) {
            .parent-container {
                grid-template-columns: repeat(2, 1fr); 
            }
        }

        @media (max-width: 720px) {
            .parent-container {
                grid-template-columns: 1fr; 
                justify-content: space-between;
                gap: 20px;
            }
        }




