       
        
        .parent-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            justify-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .id-card {
            background-color: #f7fb3a;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
           
        }
       
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-bottom: 15px;
            }
        .id-card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: translate(0px, -5px);
            transition: 0.3s ease-in-out ;
        }
        .id-card h2 {
            margin-bottom: 15px;
        }
        .id-card p {
            margin: 5px 0;
        }



