*{
    padding: 0;
    margin: 0;
    
}
body{
    color: antiquewhite;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    margin: 20px;
}

img{
    height: 250px;
    width: 400px;
}

.child-container{
   color: aliceblue;
   background-color:crimson;
   margin: 20px;
   padding: 20px;
}

.child-container p{
    color: white;
    size: 18px;
}
.child-container h1{
    color: gray;
    size: 20px;
}

@media (max-width: 1440px) {
            .container {
                grid-template-columns: repeat(2, 1fr); 
                align-items: center;
                justify-content: center;

            }
}
@media (max-width: 720px) {
            .container {
                grid-template-columns: 1fr; 
            }
}

