





    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 30px;
        background-color: beige;

        
    }


    
    h1 {
        color: #333;
        text-align: center;
        background-attachment: fixed;
        background-color: rgba(200, 200, 200, 0.842);
        
    }
    ul {
        list-style-type: symbols();
        margin-left: 30px;
        
    }



    h4 {
        color: #555;
        margin-top: 20px;
        background-color: rgb(85, 208, 147);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        background-color: rgba(200, 200, 200, 0.842);
    }
    #academic-courses {
        color: #1d23d3;
        margin-top: 30px;
        background-color: rgb(18, 175, 203);
        text-align: center;
        
    }

    #about-curriculum {
        color: #d2ff09;
        margin-top: 30px;
        
        
        display: block;
    }

    span{

        background-color: rgba(237, 139, 10, 0.921);
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;   
        padding-bottom: 10px;
        
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #aboutpara {
        margin: 20px 0;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border-left: 5px solid #333;
    }
    
